* {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Kumbh Sans', sans-serif;
            }

            body, html{
            background-image: url(images/Play.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 700px;
        }

        .navbar {
            background: transparent;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            position: sticky;
            top: 0;
            z-index: 999;
        }

        .navbar__container {
            display: flex;
            justify-content: space-between;
            height: 80px;
            z-index: 1;
            width: 100%;
            max-width: 1300px;
            margin: 0 auto;
            padding: 0 50px;
        }

        #navbar__logo {
            background-color: #ff8177;
            background-image: linear-gradient(to top, #ff0844 0%, #f3c323 100%);
            background-size: 100%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            font-size: 2rem;
        }

        .navbar__menu {
            display: flex;
            align-items: center;
            list-style: none;
            text-align: center;
        }

        .navbar__item {
            height: 80px;
        }

        .navbar__links {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;
            height: 100%;
        }

        .navbar__btn {
            display: flex;
            justify-content: center;
            align-items:center;
            text-decoration: none;
            padding: 10px 20px;
            height: 100%;
            width: 80%;
        }

        .button_END {
            display: flex;
            justify-content: center;
            align-items:center;
            margin-left: 10px;
            left: 80px;
            text-decoration: none;
            color: #fff;
            background-image: linear-gradient(to top, #df5c1f 100%, #df5c1f 100%);
            padding: 14px 32px;
            top: -15px;
            height: 80%;
            width: 80%;
            border: none;
            outline: none;
            border-radius: 4px;
            margin-top: 2rem;
            cursor: pointer;
            position: relative;
        }

        .button_END:hover {
            background: #f50404;
            transition: all 0.35s ease;
        }

        .Go {
        font-size: 1rem;
        top: 0px;
        left: -240px;
        margin-left: 240px;
        background-image: linear-gradient(to top, #18eb05 100%, #e9e8a2 100%);
        padding: 4px 8px;
        border: none;
        border-radius: 4px;
        color: #fff;
        margin-top: 1rem;
        cursor: pointer;
        position: relative;
        transition: all 0.35s ease-in-out;
        outline: none;
        }

    .Go:hover {background-color: #3e8e41}

    .Go:active {
      background-color: #18eb05;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

        .split {
          height: 100%;
          width: 30%;
          position: fixed;
          z-index: 1;
          top: 0;
          overflow-x: hidden;
          padding-top: 20px;
        }

        .left {
          left: 0;
            width: 60%;
          background-color: transparent;
        }

        .right {
          right: 0;
          background-color: transparent;
        }

        .centered {
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: 40px;
          transform: translate(-50%, -50%);
          text-align: justify;
        }

        .centered img {
          width: 600px;
	      height: 337px;
          border-radius: 20%;
        }

        .x {
            color: white;
            margin-top: 50px;
            margin-left: 40px;
        }

        .parent {
        position: relative;
        top: 10rem;
        left: 3rem;
      }
      .image1 {
        position: relative;
        top: 2rem;
        left: 3rem;
      }
      .image2 {
        position: absolute;
        top: -5rem;
        left: 80px;
        width: 300px;
        height: 470px;
      }

      .image3 {
        position: absolute;
        top: 14rem;
        left: 320px;
        width: 150px;
        height: 150px;
      }